
{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<br>
<br>
<br>
<br>
<section id="contact" class="section-padding">      
    <div class="contact-form">
      <div class="container">
        <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">          
          <div class="col-md-6 col-lg-6 col-sm-12">
            <div class="contact-block">
              <h2>ADD ACTIVITY</h2>
                        
                    <form action='/activities/add/' method="POST" class="form-group">
                        {% csrf_token %}
                        {% for field in create_form.visible_fields %}
                        <div class="form-group">
                            {{ field.label_tag }} {{ field }}
                        </div>
                        {% endfor %}
                        <div class="centre-items">
                            <input type="submit" class="btn btn-primary" value="Submit">
                        </div>
                    </form>

                    
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-12">
                <div class="footer-right-area wow fadeIn">
                    
                </div>
            </div>
{% endblock %}