{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<section id="journey" class="section-padding">
  <div class="container">   
    <br>
    <br>     
    <h2 class="section-titlejourney wow flipInX" data-wow-delay="0.4s">COLLEGE CLASS</h2>
      <a href="/kuliah/addClass/" target="_blank"><button class="button" style="font-family: 'Courier New', Courier, monospace; font-size: 15px; text-align: center; margin-left:43%;margin-right:auto;margin-top:0%;margin-bottom:0%">Add Class</button></a>
              <style>
                .button {
                  display: inline-block;
                  padding: 15px 25px;
                  font-size: 24px;
                  cursor: pointer;
                  text-align: center;
                  text-decoration: none;
                  outline: none;
                  color: #fff;
                  background-color: #f33737;
                  border: none;
                  border-radius: 15px;
                  box-shadow: 0 9px #999;
                }
                
                .button:hover {background-color: #3e8e41}
                
                .button:active {
                  background-color: #3e8e41;
                  box-shadow: 0 5px #666;
                  transform: translateY(4px);
                }
              </style>
          
          {% if college.count == 0 %}
            <p>you havent created anything yet</p>
          {% else %}
          <div class="container" style="padding: 5%;">
          <table class="table">
                <tr class="text-center">
                    <th scope="col">Nama Mata Kuliah</th>
                    <th scope="col">Nama Dosen</th>
                    <th scope="col">Jumlah SKS</th>
                    <th scope="col">Deskripsi</th>
                    <th scope="col">Ruangan</th>
                    <th scope="col">Semester</th>
                    <th scope="col">-</th>
    
                </tr>

                {% for matkul in college %}
                <tr class="text-center">
                <th scope="row">
                
                    {{matkul.namamatkul}}
                </th>
                
                <td>
                    {{matkul.dosen}}
                </td>
                <td>
                    {{matkul.sks}}
                </td>
                <td>
                    {{matkul.desc}}
                </td>
                <td>
                    {{matkul.kelas}}
                </td>
                <td>
                  {{matkul.tahun}}
                </td>
                <td>
                    
                        <a href="{% url 'delete' delete_id=matkul.pk %}">
                            <button>Delete it!</button>
                        </a>
                    
                </td>
            </tr>
            {% endfor %}
    </table>


          </div>
  </div>       
      
</section>

{% endif %}

{% endblock %}