{% extends 'navbar.html' %}
{% load static %}

    {% block content %}
      <!-- Hero Area Start -->
      <div id="hero-area" class="hero-area-bg">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
              <div class="contents">
                <h2 class="head-title wow fadeInUp" data-wow-delay="0.4s">THIS IS IQRA</h2>
                <p class="script-font wow fadeInUp" data-wow-delay="0.6s" >Information Systems student at University of Indonesia</p>
                <ul class="social-icon wow fadeInUp" data-wow-delay="0.8s">
                  <li>
                    <a class="twitter" href="twitter.com/galschina"><i class="icon-social-twitter"></i></a>
                  </li>
                  <li>
                    <a class="instagram" href="https://www.instagram.com/albertinethechicken/"><i class="icon-social-instagram"></i></a>
                  </li>
                  <li>
                    <a class="linkedin" href="https://www.linkedin.com/in/iqra-farhan-393a8818b/"><i class="icon-social-linkedin"></i></a>
                  </li>
                </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Hero Area End -->

    </header>
    <!-- Header Area wrapper End -->

    <!-- About Section Start -->
    <section id="about" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
              <img class="img-fluid" src="static/img/about/self.jpg" alt="Iqra">
            </div>
          </div> 
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
              <h3 style="color: #ff847b; font-family:'Courier New', Courier, monospace,garamond,serif;font-size:25px;">Hi Guys!</h3>
              <p style= "font-family:'Courier New', Courier, monospace,garamond,serif;font-size:15px;">My name is Iqra Farhan. A computer science student in University of Indonesia, currently in the second year of college. I am in the middle of learning how to put technology to work by studying the depth of business and organizations, and also computer databases, networks, security and more. Oh and also, I have a passion in pure arts!</p>
              <div class="about-profile">
                <h2 class="head-title wow fadeInUp" data-wow-delay="0.4s">PROFILE</h2>
                <ul class="admin-profile">
                  <li><span class="pro-title"; style="font-family: 'Courier New', Courier, monospace;font-size:15px;"> Name </span> <span class="pro-detail"; style="font-family: 'Courier New', Courier, monospace;font-size: 15px;">Iqra Farhan</span></li>
                  <li><span class="pro-title"; style="font-family: 'Courier New', Courier, monospace;font-size:15px;"> Age </span> <span class="pro-detail"; style="font-family: 'Courier New', Courier, monospace;font-size: 15px;">19 years</span></li>
                  <li><span class="pro-title"; style="font-family: 'Courier New', Courier, monospace;font-size:15px;"> e-mail </span> <span class="pro-detail"; style="font-family: 'Courier New', Courier, monospace;font-size: 15px;">iqrafrhn02@gmail.com</span></li>
                  <li><span class="pro-title"; style="font-family: 'Courier New', Courier, monospace;font-size:15px;"> Phone </span> <span class="pro-detail"; style="font-family: 'Courier New', Courier, monospace;font-size: 15px;">+62 812 8737 0956</span></li>
                  <li><span class="pro-title"; style="font-family: 'Courier New', Courier, monospace;font-size:15px;"> Interest</span> <span class="pro-detail"; style="font-family: 'Courier New', Courier, monospace;font-size: 15px;">Technology and arts</span></li>
                </ul>
              </div>
            </div>
          </div>   
        </div>
      </div>
    </section>
    <!-- About Section End -->

    <!-- Services Section Start -->
    <section id="services" class="services section-padding">
      <h2 class="section-title wow flipInX" data-wow-delay="0.4s">SKILLS</h2>
      <div class="container">
        <div class="row">
          <!-- Services item -->
          <div class="col-md-6 col-lg-3 col-xs-12">
            <div class="services-item wow fadeInDown" data-wow-delay="0.3s">
              <div class="icon">
                <i class="icon-grid"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">pure arts</a></h3>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-3 col-xs-12">
            <div class="services-item wow fadeInDown" data-wow-delay="0.6s">
              <div class="icon">
                <i class="icon-layers"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">leadership</a></h3>
                <p></p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-3 col-xs-12">
            <div class="services-item wow fadeInDown" data-wow-delay="0.9s">
              <div class="icon">
                <i class="icon-briefcase"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">management</a></h3>
                <p></p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-3 col-xs-12">
            <div class="services-item wow fadeInDown" data-wow-delay="1.2s">
              <div class="icon">
                <i class="icon-bubbles"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">communication</a></h3>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Services Section End -->

    <!-- Resume Section Start -->
    <div id="resume" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="education wow fadeInRight" data-wow-delay="0.3s">
              <ul class="timeline">
                <li>
                  <i class="icon-graduation"></i>
                  <h2 class="timelin-title">Education</h2>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">University of Indonesia</h3>
                    <span>2019 - Present</span>
                    <p class="line-text">Majoring in Computer Science. Learning how the world's organizations and businesses work with the vast growth of technology.</p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">SMAN 8 Jakarta</h3>
                    <span>2010 - 2012</span>
                    <p class="line-text">Learnt basic subjects with highly competitive environment.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="experience wow fadeInRight" data-wow-delay="0.6s">
              <ul class="timeline">
                <li>
                  <i class="icon-briefcase"></i>
                  <h2 class="timelin-title">Experience</h2>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Staff of Events - UI ARTX</h3>
                    <span>Aug 2020 - Present</span>
                    <p class="line-text">Taking part of one of the biggest ast exhibition in University of Indonesia. Working with amazing artists who have been a major factor of Indonesia's art culture.</p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Staff of Decorations - COMPFEST</h3>
                    <span>Feb 2016 - Present</span>
                    <p class="line-text">Making sure that every property of the event is presentable and decorative. Making sure the costumes are suitable for the event.</p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Head of Highschool Soccer</h3>
                    <span>2017 - 2019</span>
                    <p class="line-text">In charge of the soccer extracullicular's well being. Won several competitions. Joined Piala Gubernur 2018.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Resume Section End -->

    <!-- Portfolio Section -->
    <section id="portfolios" class="section-padding">
      <!-- Container Starts -->
      <div class="container">        
        <h2 class="section-title wow flipInX" data-wow-delay="0.4s">CURRENT FAVS</h2>
        <div class="row">          
          <div class="col-md-12">
          </div>

          <!-- Portfolio Recent Projects -->
          <div id="portfolio" class="row wow fadeInDown" data-wow-delay="0.4s">
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development print">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="static/img/gallery/lana.jpg" alt="" />  
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="static/img/gallery/lana.jpg">
                       
                  
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design print">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="static/img/gallery/puma.jpg" alt=""/> 
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="static/img/gallery/puma.jpg">
                      </a>
                  
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="static/img/gallery/clock.jpg" alt=""/> 
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="static/img/gallery/clock.jpg">
                        </div>
                      </a>
                    
                    </div>
                  </div>
                </div>               
              </div>
            </div>
      </div>
      <!-- Container Ends -->
    </section>
    <!-- Portfolio Section Ends --> 

    <!-- Contact Section Start -->
        <section id="contact" class="section-padding">      
          <div class="contact-form">
            <div class="container">
              <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">          
                <div class="col-md-6 col-lg-6 col-sm-12">
                  <div class="contact-block">
                    <h2>MESSAGE ME HERE</h2>
                    <form id="contactForm">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Name" required data-error="Please enter your name">
                            <div class="help-block with-errors"></div>
                          </div>                                 
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <input type="text" placeholder="Email" id="email" class="form-control" name="email" required data-error="Please enter your email">
                            <div class="help-block with-errors"></div>
                          </div> 
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <input type="text" placeholder="Subject" id="msg_subject" class="form-control" required data-error="Please enter your subject">
                            <div class="help-block with-errors"></div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group"> 
                            <textarea class="form-control" id="message" placeholder="Your Message" rows="5" data-error="Write your message" required></textarea>
                            <div class="help-block with-errors"></div>
                          </div>
                          <div class="submit-button">
                            <button class="btn btn-common" id="submit" type="submit">Send Message</button>
                            <div id="msgSubmit" class="h3 text-center hidden"></div> 
                            <div class="clearfix"></div> 
                          </div>
                        </div>
                      </div>            
                    </form>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12">
                  <div class="footer-right-area wow fadeIn">
                    <h2>FIND ME HERE</h2>
                    <div class="footer-right-contact">
                      <div class="single-contact">
                        <div class="contact-icon">
                          <i class="fa fa-map-marker"></i>
                        </div>
                        <p>Jakarta, Indonesia</p>
                      </div>
                      <div class="single-contact">
                        <div class="contact-icon">
                          <i class="fa fa-envelope"></i>
                        </div>
                        <p><a href="mailto:iqrafrhn02@gmail.com">iqrafrhn02@gmail.com</a></p>
                        <p><a href="mailto:iqra.islamaddina@ui.ac.id">iqra.islamaddina@ui.ac.id</a></p>
                      </div>
                      <div class="single-contact">
                        <div class="contact-icon">
                          <i class="fa fa-phone"></i>
                        </div>
                        <p><a href="#">+62 812 8737 0956</a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                <object style="border:0; height: 450px; width: 100%;" data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d34015.943594576835!2d-106.43242624069771!3d31.677719472407432!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86e75d90e99d597b%3A0x6cd3eb9a9fcd23f1!2sCourtyard+by+Marriott+Ciudad+Juarez!5e0!3m2!1sen!2sbd!4v1533791187584"></object>
                </div>
              </div>
            </div>
          </div>   
        </section>
        <!-- Contact Section End -->
            

    <!-- Footer Section Start -->
    <footer class="footer-area section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="footer-text text-center wow fadeInDown" data-wow-delay="0.3s">
              <ul class="social-icon">
                
                <li>
                  <a class="twitter" href="twitter.com/qrafrhn"><i class="icon-social-twitter"></i></a>
                </li>
                <li>
                  <a class="instagram" href="https://www.instagram.com/albertinethechicken/"><i class="icon-social-instagram"></i></a>
                </li>
                <li>
                  <a class="facebook" href="https://www.linkedin.com/in/iqra-farhan-393a8818b/"><i class="icon-social-linkedin"></i></a>
                </li>
                
              </ul>
              <p>Copyright © 2018 UIdeck All Right Reserved</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
      <i class="icon-arrow-up"></i>
    </a>

  {% endblock %}
  

