{% extends 'navbar.html' %}
{% load static %}

    {% block content %}

    <!-- Portfolio Section -->
    <section id="journey" class="section-padding">
      <!-- Container Starts -->
      <div class="container">   
        <br>
        <br>     
        <h2 class="section-titlejourney wow flipInX" data-wow-delay="0.4s">JOURNEY</h2>
        <div class="row">          
          <div class="col-md-12">
          </div>

          <!-- Portfolio Recent Projects -->
        <div id="portfolio" class="row wow fadeInDown" data-wow-delay="0.4s">
          <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development print">
            <div class="portfolio-item">
              <div class="shot-item">
                <img src="/static/img/satu.jpg" alt="" />  
                
                  <div class="icons">
                    <a class="lightbox preview" href="/static/img/satu.jpg">
                    </a>
                    <br>
                  <p style="font-family: 'Courier New', Courier, monospace; font-size: 15px; text-align: center;">Art Jakarta 2019 and first attempt on perspective drawing</p>
                </div>
              </div>               
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design print">
            <div class="portfolio-item">
              <div class="shot-item">
                <img src="/static/img/dua.jpg" alt=""/> 
                
                  <div class="icons">
                    <a class="lightbox preview" href="/static/img/dua.jpg">
                    </a>
                    <br>
                  <p style="font-family: 'Courier New', Courier, monospace; font-size: 15px; text-align: center;">Maungmeong!</p>
                  </div>
                
              </div>               
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development">
            <div class="portfolio-item">
              <div class="shot-item">
                <img src="/static/img/tiga.jpg" alt=""/> 
                
                  <div class="icons">
                    <a class="lightbox preview" href="/static/img/tiga.jpg">
                      </div>
                    </a>
                    <br>
                  <p style="font-family: 'Courier New', Courier, monospace; font-size: 15px; text-align: center;">A sketch and a writing</p>
                  </div>

                  <br>
                  <br>
                  <br>
                  <br>

      <style>
        .btn {
          border: none;
          background-color: inherit;
          padding: 14px 28px;
          font-size: 16px;
          cursor: pointer;
          display: inline-block;
        }
  
        .btn:hover {background: rgb(255, 162, 162);}
        
        .default {color: black;}
        </style>
        
        <a href="https://ppwbismillah.herokuapp.com/" target="_blank"><button class="btn default" style="font-family: 'Courier New', Courier, monospace; font-size: 15px; text-align: center;">Click here to see my first website!</button></a>
  
          </div>               
        </div>
            
      <!-- Container Ends -->
    </section>
    <!-- Portfolio Section Ends --> 
    <!-- Footer Section Start -->
    <footer class="footer-area section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="footer-text text-center wow fadeInDown" data-wow-delay="0.3s">
              <ul class="social-icon">
                
                <li>
                  <a class="twitter" href="twitter.com/qrafrhn"><i class="icon-social-twitter"></i></a>
                </li>
                <li>
                  <a class="instagram" href="https://www.instagram.com/albertinethechicken/"><i class="icon-social-instagram"></i></a>
                </li>
                <li>
                  <a class="facebook" href="https://www.linkedin.com/in/iqra-farhan-393a8818b/"><i class="icon-social-linkedin"></i></a>
                </li>
                
              </ul>
              <p>Copyright © 2018 UIdeck All Right Reserved</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
      <i class="icon-arrow-up"></i>
    </a>

    {% endblock %}