{% extends 'navbar.html' %}
{% load static %}

    {% block content %}

    <!-- Custom styles for this template -->
  <!-- Portfolio Section -->
  
  <section id="journey" class="section-padding">
    <!-- Container Starts -->
    <div class="container">   
      <br>
      <br>     
      <h2 class="section-titlejourney wow flipInX" data-wow-delay="0.4s">SERIES RECOMMENDATIONS</h2>
      <div class="row">          
        <div class="col-md-12">
        </div>

  <div id="portfolio" class="row wow fadeInDown" data-wow-delay="0.4s">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/static/img/series/breakingbad.jpg" width="100%" height="250" alt=""/>
            
            <div class="card-body">
              <h5 style="color: black; font-weight: 800;">BREAKING BAD</h5>
              <p class="card-text" style="font-family: 'Courier New', Courier, monospace; font-size: 13px; font-weight: 500;">Walter White, a chemistry teacher, discovers that he has cancer and decides to get into the meth-making business to repay his medical debts. His priorities begin to change when he partners with Jesse.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/static/img/series/got.jpg" width="100%" height="250" alt=""/>
            <div class="card-body">
              <h5 style="color: black; font-weight: 800;">GAME OF THRONES</h5>
              <p class="card-text" style="font-family: 'Courier New', Courier, monospace; font-size: 13px; font-weight: 500;">Nine noble families wage war against each other in order to gain control over the mythical land of Westeros. Meanwhile, a force is rising after millenniums and threatens the existence of the whole mankind.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/static/img/series/f1.jpg" width="100%" height="250" alt=""/>
            <div class="card-body">
              <h5 style="color: black; font-weight: 800;">FORMULA ONE: DRIVE TO SURVIVE</h5>
              <p class="card-text" style="font-family: 'Courier New', Courier, monospace; font-size: 13px; font-weight: 500;">The drivers, managers and team owners in Formula 1 live life in the fast lane -- both on and off the track. This docuseries gives viewers exclusive, intimate access to the people in one of the world's greatest racing competitions.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/static/img/series/devilman.jpg" width="100%" height="250" alt=""/>
            <div class="card-body">
              <h5 style="color: black; font-weight: 800;">DEVILMAN CRYBABY</h5>
              <p class="card-text" style="font-family: 'Courier New', Courier, monospace; font-size: 13px; font-weight: 500;">Akira's best friend tells him that ancient demons have returned to take back the world from humans and suggests that he unite with a demon. Akira successfully does that, transforming into Devilman, a being with a demon's powers but who retains the soul of a human.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/static/img/series/chernobyl.jpg" width="100%" height="250" alt=""/>
            <div class="card-body">
              <h5 style="color: black; font-weight: 800;">CHERNOBYL</h5>
              <p class="card-text" style="font-family: 'Courier New', Courier, monospace; font-size: 13px; font-weight: 500;">In April 1986, the city of Chernobyl in the Soviet Union suffers one of the worst nuclear disasters in the history of mankind. Consequently, many heroes put their lives on the line to save Europe.</p>
              <br>
              <br>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="/static/img/series/messiah.jpg" width="100%" height="250" alt=""/>
            <div class="card-body">
              <h5 style="color: black; font-weight: 800;">MESSIAH</h5>
              <p class="card-text" style="font-family: 'Courier New', Courier, monospace; font-size: 13px; font-weight: 500;">Messiah is about a CIA officer named Eva Geller's investigation of a man receiving attention from around the world for claiming to be a divine entity. His followers believe he has the ability to create miracles, and his critics allege he is a con artist.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>

        
      </div>
    </div>
  </div>
  </section>
</div>
  <!-- Footer Section Start -->
        <footer class="footer-area section-padding">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="footer-text text-center wow fadeInDown" data-wow-delay="0.3s">
                  <ul class="social-icon">
                    
                    <li>
                      <a class="twitter" href="twitter.com/qrafrhn"><i class="icon-social-twitter"></i></a>
                    </li>
                    <li>
                      <a class="instagram" href="https://www.instagram.com/albertinethechicken/"><i class="icon-social-instagram"></i></a>
                    </li>
                    <li>
                      <a class="facebook" href="https://www.linkedin.com/in/iqra-farhan-393a8818b/"><i class="icon-social-linkedin"></i></a>
                    </li>
                    
                  </ul>
                  <p>Copyright © 2018 UIdeck All Right Reserved</p>
                </div>
              </div>
            </div>
          </div>
        </footer>
  <!-- Footer Section End -->

    {% endblock %}