{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<section id="journey" class="section-padding">
  <div class="container">   
    <br>
    <br>     
    <h2 class="section-titlejourney wow flipInX" data-wow-delay="0.4s">COLLEGE ACTIVITIES</h2>
      <a href="/activities/addActivities/" target="_blank"><button class="button" style="font-family: 'Courier New', Courier, monospace; font-size: 15px; text-align: center; margin-left:43%;margin-right:auto;margin-top:0%;margin-bottom:0%">Add Activity</button></a>
              <style>
                .button {
                  display: inline-block;
                  padding: 15px 25px;
                  font-size: 24px;
                  cursor: pointer;
                  text-align: center;
                  text-decoration: none;
                  outline: none;
                  color: #fff;
                  background-color: #f33737;
                  border: none;
                  border-radius: 15px;
                  box-shadow: 0 9px #999;
                }
                
                .button:hover {background-color: #3e8e41}
                
                .button:active {
                  background-color: #3e8e41;
                  box-shadow: 0 5px #666;
                  transform: translateY(4px);
                }
                
              </style>
          
          {% if kegiatan.count == 0 %}
            <p>you havent created anything yet</p>
          {% else %}
          <div class="container" style="padding: 5%;">
            {% for act in kegiatan %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{act.nama}}</h5>
                  <p class="card-text">{{act.deskripsi}}</p>
                </div>

                <ul class="list-group list-group-flush">
                  {% for x in orang %}
                    {% if x.kegiatan == act %}
                      <li class="list-group-item">{{x.namaindividu}}
                      <button>
                        <a href="{% url 'deleteorang' delete_id=x.pk %}">x</a>
                    </button>
                      </li>
                    {% endif %}
                  {% endfor %}
                  <a href="{% url 'register' task_id=act.pk %}"><button>Join here!</button></a>
                  </a>
                </ul>
              </div>
              <br>
                <a href="{% url 'delete' delete_id=act.pk %}">
                    <button>x</button>
                </a>

                  
            {% endfor %}

        </div>
    </div>
  </div>       
      
</section>

{% endif %}

{% endblock %}
